<div class="container fade">
  <div class="row">
    <div class="col-sm-12 col-md-6 mb-4 order-2 order-md-0">
      <h2>Legal</h2>
      <hr>
      <ul>
        <li><a href="https://nor.the-rn.info">Northern Information LLC</a></li>
        <li>D.B.A. DEUS EX MACHINA COMPANY</li>
        <li><a href="https://creativecommons.org/publicdomain/zero/1.0/">(CC0 1.0) Public Domain Dedication</a></li>
        <li>&#9765; {{ site.time | date: '%Y' }}</li>
      </ul>
    </div>
    <div class="col-sm-12 col-md-3 mb-4 order-1 order-md-1">
      <h2>Contact</h2>
      <hr>
      <p class="mb-0"><a href="/assets/images/screaming-orchid.jpg">View Email & Signal</a></p>
    </div>
    <div class="col-sm-12 col-md-3 mb-4 order-0 order-md-2">
      <h2>Navigate</h2>
      <hr>
      <ul>
        {% for item in site.data.nav.items %}
        <li>
          <a href="{{ item.url }}">{{ item.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>