<div class="container">
  <div class="row">
    <div class="col col-md-4 my-4">
      <a href="/">
        <img src="/assets/images/lettermark-deus.svg" class="mb-2 lettermark lettermark-deus" />
        <img src="/assets/images/lettermark-ex.svg" class="mb-2 lettermark lettermark-ex" />
        <img src="/assets/images/lettermark-machina.svg" class="mb-2 lettermark lettermark-machina" />
        <img src="/assets/images/lettermark-company.svg" class="lettermark lettermark-company" />
        <h1 class="visually-hidden">DEUS EX MACHINA COMPANY</h1>
      </a>
    </div>
  </div>
</div>