<div class="container fade">
  <div class="row">
    <div class="col col-md-6 mb-4">
      <h2>You Are...</h2>
      <hr>
      <p>Lighting signal flares. Watching oceans rise. Resisting despair. But also need to look pro and probably build something involving code?</p>
    </div>
  </div>
</div>
<div class="container fade">
  <div class="row">
    <div class="col-6 col-md-2 mb-4">
      <h2>Act<span class="romans">i</span>on</h2>
      <hr>
      <p><a href="https://calendly.com/tyleretters/15">Schedule a consultation</a> with our machinists.</p>
    </div>
    <div class="col-6 col-md-2 mb-4">
      <h2>Act<span class="romans">ii</span>on</h2>
      <hr>
      <p>Tell your story, build the machine.</p>
    </div>
    <div class="col-6 col-md-2 mb-4">
      <h2>Act<span class="romans">iii</span>on</h2>
      <hr>
      <p>Escape peril via <em>deus ex machina</em>.</p>
    </div>
  </div>
</div>