---
layout: abstract
---
<div class="container fade">
  <div class="row">
    <div class="col-sm-12 col-md-6 mb-4">
      <h2 id="machinists">Machinists</h2>
      <hr>
      <p>We call ourselves <em>machinists</em> because we build your <em>deus ex machina</em>. We are a collective of consultants, designers, artists, hackers, and musicians. We are for decentralization, asychronicity, mutuality, professionalism, and emotional support.</p>
      <table class="table">
        <tr>
          <th>CALL SIGN</th>
          <th>TITLE</th>
          <th>ROLE</th>
        </tr>
        {% assign machinists_by_order = site.data.machinists | sort: "callsign" %}
        {% for machinist in machinists_by_order %}  
        <tr>
          <td id="{{ machinist.anchor }}">{{ machinist.callsign }}</td>
          <td>{{ machinist.title }}</td>
          <td>{{ machinist.role }}</td>
        </tr>
        {% endfor %}
      </table>
      <p class="mb-0">The only known true-name of a machinist is that of the founder: <a href="https://tyleretters.com">Tyler Etters</a>.</p>
    </div>
    <div class="col-sm-12 col-md-6 mb-4">
      <img src="/assets/images/machinist.jpg" class="img-100 img-border img-push" />
    </div>
  </div>
</div>