---
layout: abstract
---
<div class="container fade">
  <div class="row mb-10">
    <div class="col-sm-12 col-md-4 mb-4">
      <h2>A CREATIVE AGENCY FOR <br><span class="danger scramble">YOU</span></h2>
      <a href="/assets/images/flare.jpg"><img src="/assets/images/flare.jpg" class="img-100 img-border" alt="SCREAMING ORCHID" /></a>
    </div>
    <div class="col-sm-12 col-md-8">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12 col-md-6 mb-4 mb-md-5">
            <h2>You Are...</h2>
            <hr>
            <p class="mb-0">Building the new world. Lighting signal flares. Watching oceans rise. Outrunning despair. But also need to look pro and probably build something involving code?</p>
          </div>
          <div class="col-sm-12 col-md-6 mb-4 mb-md-5">
            <h2>Let's Talk</h2>
            <hr>
            <p><span class="faded">1.</span> <a href="https://calendly.com/tyleretters/15">Share your story</a> with a machinist.</p>
            <p><span class="faded">2.</span> Design the machine with our process.</p>
            <p class="mb-0"><span class="faded">3.</span> Transcend peril via <em>deus ex machina</em>.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-4 mb-4 mb-md-5">
            <h2>We Are...</h2>
            <hr>
            <p class="mb-0"><strong class="danger serif">de·us ex ma·chi·na</strong> <em class="faded">noun</em><br>an unexpected power or event saving a seemingly hopeless situation, especially as a surprising plot device in a play or novel.</p>
          </div>
          <div class="col-6 col-md-4 mb-4 mb-md-5">
            <h2>Services</h2>
            <hr>
            <ul>
              <li>Future</li>
              <li>Internet</li>
              <li>R&D</li>
              <li>Strategy</li>
              <li>Branding</li>
              <li>Design</li>
              <li>Technology</li>
            </ul>
          </div>
          <div class="col-6 col-md-4 mb-4 mb-md-5">
            <h2>Virtues</h2>
            <hr>
            <ul>
              <li>Prudence</li>
              <li>Justice</li>
              <li>Fortitude</li>
              <li>Temperance</li>
              <li>Encryption</li>
            </ul>
          </div>
         </div>
        <div class="row">
          <div class="col mt-0 mb-5 mt-my-4">
            <a href="https://calendly.com/tyleretters/15" class="cta">Schedule Consultation</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container fade">
  <div class="row">
    <div class="col-sm-12 col-md-4 mb-10">
      <h2>Our Process</h2>
      <hr>
      <div class="container fade">
        <div class="row">
          <div class="col-6 offset-3">
            <img src="/assets/images/numogram.svg" alt="Numogram" class="mt-4 mb-3" /></a>
            <p class="text-center">You don't need to understand it.<br><br>Just know it <a href="/work">works</a>.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-8 mb-10">
      <h2>Excommunicado</h2>
      <hr>
      <img src="/assets/images/excommunicado.svg" alt="Excommunicado" class="mb-5" /></a>
      <p>Most agencies fly logos like these with pride. <strong>Not us.</strong></p>
      <p class="mb-0">We have, in the past, cast ourselves into collaboration with the abyssal <a href="https://en.wikipedia.org/wiki/Fortune_500">Fortune 500</a>. Our labor and cycles will service their dread designs no more. In their wake: human suffering and environmental destruction. In their hearts: deadlocked greed-politics and a raging affliction of ecological indifference.</p>
    </div>
  </div>
</div>