---
layout: abstract
---
<div class="container fade">
  <div class="row mt-5 mb-10">
    <div class="col-md-6">
      <p class="tech">"DXMC turned my will and fragmented ideas into something powerful, tangible, and functional."</p>
      <p><em class="faded">&mdash; Mattew Marx, Forgotten Industries</em></p>
    </div>
  </div>
  <div class="row mb-10">
    <div class="col-md-6 offset-md-3">
      <p class="tech tech-smaller">"Before engaging with DXMC, it became clear that we had lost perspective on the value we brought to the market and our customers. DXMC helped remind us what it meant to be US and, in the process, crafted a sales narrative that fit us better than we could've imagined. We are thrilled with our new content, the response we've received from partners, and the newfound clarity we have around our product."</p>
      <p><em class="faded">&mdash; Peter Kassel, HealthySole</em></p>
    </div>
  </div>
  <div class="row mb-10">
    <div class="col-md-6 offset-md-2">
      <p class="tech">When you came up with my logo I was like... OH, SHIT!!"</p>
      <p><em class="faded">&mdash; Alexandra Hampton, Alexandra Hampton Music</em></p>
    </div>
  </div>
  <div class="row mb-10">
    <div class="col-md-6 offset-md-6">
      <p class="tech">"Flash Crash is a true phenomenon of community organizing, narrative world-building, and creative outpouring &mdash; all held together by Tyler's passion and wide-ranging design/tech skills."</p>
      <p><em class="faded">&mdash; Brian Crabtree, monome</em></p>
    </div>
  </div>
  <div class="row mb-10">
    <div class="col-md-6 offset-md-4">
      <p class="tech">"DXMC cast web solutions more valuable than a Foil Crimped Alpha Black Lotus."</p>
      <p><em class="faded">&mdash; @nonbasicland, Lords of the Pit</em></p>
    </div>
  </div>
</div>